:root {
  --color-primary-dark : hsl(243, 87%, 12%);
  --color-primary-light : hsl(243, 87%, 12%);
  --color-accent-blue : hsl(224, 93%, 58%);
  --color-accent-cyan : hsl(170, 45%, 43%);
  --color-neutral-blue : hsl(240, 75%, 98%);
  --color-neutral-gray : hsl(0, 0%, 75%);
  --p-bg : 7.5rem;
  --p-md : 5rem;
  --p-sm : 2.5rem;
  --m-bg : 7.5rem;
  --m-md : 5rem;
  --m-sm : 2.5rem;
  --mx-bg : 0 7.5rem;
  --my-bg : 7.5rem 0;
  --mx-md : 0 5rem;
  --my-md : 5rem 0;
  --mx-sm : 0 2.5rem;
  --my-sm : 2.5rem 0;

  --bg : 7.5rem;
  --md : 5rem;
  --sm : 2.5rem;

  --font-rale : "Raleway",san-serif;
  --font-sans : "Open Sans", sans-serif;
}

*,
::before,
::after {
  margin : 0;
  padding : 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: inherit;
  font-family: var(--font-sans);
  color : var(--color-primary-light);
}

input, button {
  font-family: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color : inherit
}

.h1, .h2 {
  font-family: var(--font-rale);
  line-height: 1.5;
}
.h2 {
  font-family: 3.5rem;
}
.h1 {
  font-size: 4.5rem;
}
.h1 span {
  display: block;
}
.p1 {
  font-size: 2rem;
}

/* Layout */
section, header {
  padding : 6rem;
}
section:not(:last-child) {
  margin-bottom: 10rem;
}
.header {
  font-family: var(--font-rale);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list-item {
  margin-right: 5rem;
  font-size: 1.9rem;
  font-weight: 500;
  color : var(--color-primary-light);
}


.section-hero {
  display: flex;
  align-items: center;
}
.section-hero > * {
  flex : 50%;
}
.section-hero__figure {
  margin-left: 1rem;
}
.section-hero__figure img {
  max-width: 100%;
}

.section-how {
  background-color: var(--color-neutral-blue);
  display: flex;
  align-items: center;
}
.section-how > * {
  flex : 50%;
}
.section-how__text {
  flex : 58%;
}
.section-hero__figure {
  display: flex;
  justify-content: flex-end;
}
.section-how__figure img {
  max-width: 50rem;
}

.section-how__top {
  background-image: url(/images/bg-curve-desktop.svg);
  min-height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.section-how p {
  max-width: 65rem;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Utilities */
.d-flex {
  display: flex;
  align-items: center;
}
.w-75 {
  width : 75%;
}
.w-90 {
  width : 90%;
}

.m-bg {
  margin : var(--bg);
}
.m-md {
  margin : var(--md);
}
.m-sm {
  margin : var(--sm);
}
.mx-bg {
  margin-right: var(--bg);
  margin-left: var(--bg);
}
.mx-md {
  margin-right: var(--md);
  margin-left: var(--md);
}
.mx-sm {
  margin-right: var(--sm);
  margin-left: var(--sm);
}

.my-bg {
  margin-top: var(--bg);
  margin-bottom: var(--bg);
}
.my-md {
  margin-top: var(--md);
  margin-bottom: var(--md);
}
.my-sm {
  margin-top: var(--sm);
  margin-bottom: var(--sm);
}

.mb-bg {
  margin-bottom: var(--bg);
}
.mb-md {
  margin-bottom: var(--md);
}
.mb-sm {
  margin-bottom: var(--sm);
}

.mt-bg {
  margin-top: var(--bg);
}
.mt-md {
  margin-top: var(--md);
}
.mt-sm {
  margin-top: var(--sm);
}

